<a href="https://colab.research.google.com/github/Nadilink/project_01/blob/main/untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

def get_connection():
  connection = sqlite3.connect('teatchers.db')
  return connection

def close_connection(connection):
  if connection:
    connection.close()

def get_student(student_id):
  connection = get_connection()
  cursor = connection.cursor()
  query = """SELECT * FROM School JOIN Student ON School.School_Id = Student.School_Id WHERE Student_Id = ?"""
  cursor.execute(query, (student_id,))
  records = cursor.fetchall()
  connection.close()
  print("Данные по студенту")
  for row in records:
    print("ID студ", row[3])
    print("Имя", row[4])
    print("ID школы", row[0])
    print("Название школы", row[1])

get_student(202)